input.ng-valid  {
    border: 2px solid #42A948; /* green */
  }

input.ng-invalid.ng-touched {
    border: 2px solid #dd2a26; /* red */
}

.feedback {
    color: #dd2a26;
    padding-top: 1px;
    font-style: italic;
}